.message-list {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 10px 20px;
   
}

.comments-section{
    margin-top: 70px!important;
}

.ui-reply-form {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 10px 20px;
    margin: 0;
}

#delete-room {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 10px 20px;
    margin: 0;
}