.room-list {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 0px;
    padding-right: 0px;

}

#create-button{
      margin: 0px 35px 1px ;
      padding: 1px 35px 0px ; 
}




#room-input-container {
    margin-left:35px;
    padding-right: 50px;
    width: 172px;
}
