.username_container{
  display: grid;
}

.display-name{
  grid-column: 1;
  grid-row: 1;
  color: black;
}

.signin-status{
  grid-column: 1;
  color: black;
  
}

.signin-buttons{
  grid-column: 1;
  margin-top: 70px;
  
}


a {
  color: #ff4081;
  font-weight: 500;
}